.macbook-pro {
    -fx-background-color: #ffffff;
}

.text-wrapper {
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 96px;
    -fx-text-fill: #000000;
}

.rectangle, .rectangle-4 {
    -fx-fill: #000000;
}

.text-wrapper-2, .text-wrapper-3, .text-wrapper-4, .text-wrapper-5 {
    -fx-font-family: "System";
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
}

.rectangle-5 {
    -fx-fill: #f8000c;
    -fx-arc-width: 10px;
    -fx-arc-height: 10px;
}

.text-wrapper-6 {
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-fill: #ffffff;
}

.text-wrapper-7 {
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-fill: #000000;
}

.p {
    -fx-font-family: "System";
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
}